html,
body {
  margin: 0;
  padding: 0;
}

.main-container {
  display: flex;
  flex-direction: row;
}

.checkboxes-container {
  display: flex;
  flex-direction: column;
}

canvas {
  display: block;
}

#slider {
  width: 400px;
}

#values {
  padding: 15px 50px;
}
